@import '../variables';

.production__block {
  background: $black;
  color: white;

  .main__title {
    padding: 50px 200px 20px;
    color: white;
    font-size: 36px;
    //margin: 50px 0;
  }

  .production__block__sliders {

    img {
      width: 380px;
      height: 265px;
      margin: 20px;
    }
  }

  .buttons {
    padding: 10px 200px;
    display: flex;
    justify-content: space-between;
    .btn {
      border: none;
      background: transparent;
    }

    .btn__left {

    }

    .btn__right {

    }
  }
}